In [1]:
import pandas as pd
import numpy as np

In [2]:
range1 = range(2, 12, 2)
for n in range1:
    print(n)
    
series1 = pd.Series(range1)

2
4
6
8
10

In [5]:
range2 = range(1, 11, 2)
for n in range2:
    print(n)

series2 = pd.Series(range2)

1
3
5
7
9

In [6]:
# replace last element
series2 = series2.replace(9, 10)
series2

0     1
1     3
2     5
3     7
4    10
dtype: int64

In [7]:
series1.compare(series2)

   self  other
0   2.0    1.0
1   4.0    3.0
2   6.0    5.0
3   8.0    7.0

In [8]:
print(series1 == series2)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
print(series1 > series2)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [10]:
print(series1 <= series2)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [11]:
my_dict = {
    'a': 100,
    'b': 200,
    'c': 300,
    'd': 400,
    'e': 800
    }

In [12]:
my_dict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [13]:
s = pd.Series(my_dict)

In [14]:
s

a    100
b    200
c    300
d    400
e    800
dtype: int64